#map-container{
  width: 90vw;
  height: 50vh;
}

#create-route-button {
  border-style: outset;
  transition: all 1s;
  border-radius: 5px;
  border-width: 1px;
  padding: 7px;
  color: white;
  height: 40px;
  margin: 15px;
  min-height: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

.disabled, .disabled:hover{
  cursor: not-allowed;
  background-color: #6BA288;
}

.enabled {
  cursor: pointer;
  background-color: #286C4B;
}

.enabled:hover{
  background-color: #145636;
  cursor: pointer;
}
