// Place all the styles related to the api/routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-route-container{
  display: flex;
  flex-direction: column;
  height: 590px;
  flex-wrap: wrap;
  align-content: space-between;
  width: 900px;
}

.new-route-instructions{
  height: 550px;
}

.new-route-instructions ul {
    width: 345px;
}

.new-route-instructions ul li{
  word-wrap: break-word;
  margin: 0 0 10px 0;
}
#map-container{
  width: 500px;
  height: 500px;
}

#create-route-button {
  border-style: outset;
  width: 500px;
  transition: all 1s;
  border-radius: 5px;
  border-width: 1px;
  padding: 7px 0 7px 0;
  color: white;
  height: 40px;
  margin: 15px 0 15px 0;
  min-height: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled, .disabled:hover{
  cursor: not-allowed;
  background-color: #6BA288;
}

.enabled {
  cursor: pointer;
  background-color: #286C4B;
}

.enabled:hover{
  background-color: #145636;
  cursor: pointer;
}

.route-info{
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.route-detail {
  width: 900px;
}

.route-user-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.route-stats {
  display: flex;
}


.route-stats li{
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.route-stats-label {
  color: grey;
  font-weight: 300;
  font-size: 12px;
}
.route-create-date{
  color: grey;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.route-feed{
  display: flex;
  width: 900px;
  flex-wrap: wrap;
}
.route-feed *{
  margin-right: 2px;

}

.route-feed-item{
  display: flex;
  margin: 20px 10px 20px 10px;
  flex-direction: column;
  padding: 10px;
  background-color: whitesmoke;
  border: 1px solid #f6f0f0;
}

.route-options{
  display: flex;
}
