// Place all the styles related to the api/workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-workout-form{
  background-color: rgba(255,255,255,.4);
  padding: 10px;
  font-size: 18px;
  padding-left: 15px;
  width: 810px;
}

.new-workout-form input {
  height: 30px;
  text-indent: 8px;
  width: 229px;
}
.new-workout-form textarea{
  padding: 10px;
  margin: 20px 10px 0 20px;
  width: 760px;
}

.new-workout-form fieldset {
  width: 296px;
  height: 60px;
  border: 1px solid lightgray;
  display: inline-block;
  margin: 10px 30px 5px 12px;
}

.new-workout-container {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  padding-top: 50px;
}

#date {
  width: 300px;
}

#exercise_type{
  height: 30px;
  margin-left: 10px;
  font: inherit;
}

.new-workout-form fieldset input {
  width: 58px;
  margin: 0 5px 0 5px;
}

.new-workout-form input[type=submit] {

    border-style: outset;
    transition: all 1s;
    border-radius: 5px;
    border-width: 1px;
    padding: 7px;
    color: white;
    height: 40px;
    margin: 15px;
    min-height: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    padding-right: 14px;
}

.new-workout-date {
  margin-bottom: 10px;
}

.new-workout-route-selector{
  display: flex;
  width: 290px;
  justify-content: space-between;
  align-items: center;
}

.new-workout-route-selector select{
  width: 140px;
  height: 30px;
}

.new-workout-form-description{
    margin-top: 15px;
}

.workout-container{
  flex-direction: column;
  display: flex;
  padding-bottom: 70px;
}

.workout-detail .workout-map{
  width: 100%;
  margin-top: 100px;
}

.workout-detail {
  border: 1px solid lightgrey;
  margin: 100px 0 30px 0;
  width: 900px;
  box-sizing: border-box;
}

.workout-edit {
  align-self: flex-end;
  margin-top: 20px;
  height: 10px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid rgba(102,102,102,100);
  color: rgba(102,102,102,100);
  display: flex;
  align-items: center;

}

.workout-edit:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  color: #FC4C02;
}

.workout-edit-exercise-label{
    margin-right: 3px;
}

.workout-info {
  display: flex;
  justify-content: space-around;
}

.workout-exercise {
  background-color: #BDC2B9;
  box-sizing: border-box;
  margin: 0;
  padding-right: 10px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  width: inherit;
  height: 55px;
  display: flex;
  align-items: center;
}

.workout-exercise h2:first-letter{
  text-transform: capitalize;
}


.workout-exercise h2 {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
}

.workout-title {
  padding-left: 10px;
  display: flex;
  width: 40%;
  flex-direction: column;
}

.workout-date {
  color: grey;
  font-weight: 300;
  height: 15px;
  padding: 3px 0 3px 0;
  margin: 0;
  margin-top: 3px;
  font-size: .83em;
}

.workout-title h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}

.workout-title h4 {
  height: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 3px 0 5px 0;
  margin: 0;
  margin-top: 10px;
  font-size: .87em;
  margin-bottom: 10px;
}

.workout-stats {
  padding-top: 5px;
}

.workout-stats ul {
  display: flex;
}

.workout-stats li{
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.workout-stats-label {
  color: grey;
  font-weight: 300;
  font-size: 15px;
}

.workout-index {
  margin-top: 80px;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.workout-activity-feed{
  width: 70%;
}

.workout-feed {
  padding: 30px 0 30px 0;
}

.workout-index-title {
  padding: 10px 0 10px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 14px;
  width: 175px;
}

.workout-index-distance {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding-bottom: 5px;
}

.workout-index-title a:hover{
  color: #007fb6;
  text-decoration: underline;
}

.workout-index-item {
  margin-bottom: 50px;
}

.workout-feed-item-info {
  height: 150px;
  width: 575px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.workout-feed-img{
  border-radius: 50%;
  height: 48px;
  width: 48px;

}

.workout-pic-container{
  height: 102px;
}

.workout-info-container{
  display: flex;
  flex-direction: column;
}

.comments-container {
  margin: 0 0 10px 20px;
  font-size: 13px;
}

.comments-container span {
  padding-left: 5px;
}

.comments-container li{
  margin: 8px 0 10px 0;
}

.comments-container textarea {
  resize: vertical;
  min-height: 25px;
  height: 25px;
  font-size: 15px;
  vertical-align: middle;
  text-indent: 3px;
  margin: 0 15px 0 0;
  width: 355px;
  box-sizing: border-box;
}

.comment-body {
  display: inline-block;
  width: 350px;
  padding-left: 5px;
  vertical-align: top;
  overflow-wrap: break-word;
}

.delete-comment{
  border: none;
  background-color: inherit;
  transition: all 1s;
}
.delete-comment:hover {
  cursor: pointer;
}

.edit-workout-modal-screen {

  position: fixed;
  background-color: rgba(0,0,0,.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

.modal {
  transition: all 1s;
  display: none;
}

.modal.is-active {
  display: block;
}


.edit-form{
  padding: 20px;
  position: absolute;
  z-index: 6;
  top: 20%;
  left: 33%;
  height: 210px;
  width: 500px;
  border-radius: 3px;
  background-color: rgb(247, 247, 247);
}

.close-edit-form {
  position: absolute;
  top: -20px;
  right: -15px;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
  z-index: 6;
  font-size: 20px;
}

.edit-workout-title {
  padding: 8px 0 8px 0;
}

.user-stats li{
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
}

.workout-feed-map{
  height: 150px;
  width: 250px;
}
