// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, head, body, header,
nav, h1, a, ul, li, main,
section, p, footer, small {
  margin: 0 auto;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

header, nav, main, section,
footer, small {
  display: block;
}

ul {
  list-style: none;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

h1 {
  font-size: 30pt;
}

.page{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
  background-size: cover;
  height: 100vh;
  align-items: center;
  font-family: sans-serif, Arial, Helvetica;
}

.login-background {
  background-image: image-url('background.JPG');
}

.nav_bar{
  width: 55vw;
  box-sizing: border-box;
  display: flex;
  background-color: #DFBD79;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 0px 15px 5px 10px;
}


.logo{
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  font-size: 25pt;
}

.session_dialog{
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-color: rgba(0,0,0,.65);
  color: lightgrey;
  width: 400px;
  min-height: 420px;
}

.session-form{
  display: flex;
  flex-direction: column;
  min-height: 270px;
}

.submit-btn{
  background-color: #286C4B;
  border-style: outset;
  transition: all 1s;
  border-radius: 5px;
  border-width: 1px;
  padding: 7px;
  color: white;
  height: 40px;
  margin: 15px;
  min-height: 20px;
}

.submit-btn:hover{
  background-color: #145636;
  cursor: pointer;
}

a:hover{
  color: whitesmoke;

}

.nav-bar-link:hover{
  color: lightgrey;
  border-color: whitesmoke;
  background-color: #B58F44;
  cursor: pointer;
}

.nav-bar-link {
  padding: 10px;
  border: 1px darkgrey solid;
  border-radius: 2px;
  margin: 0 2px 0 2px;
  transition: all .8s;
}

input {
  margin: 15px;
  min-height: 30px;
  font-size: 18px;
}

input[type=text], input[type=password]{
  font-size: 24px;
  text-indent: 8px;
}

.error{
  color: #C13434;
  font-weight: bold;
  padding-bottom: 3px;
}

.guest-login-btn{
  background-color: #2A416E;
}

.guest-login-btn:hover{
  background-color: #132852;
}

.input-text-login {
  background-color: rgba(0,0,0,.7);
  color: whitesmoke;
}

/** Greetings **/
